<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EditaProduto</title>
    <link rel="stylesheet" href="/css/global.css">
    <link rel="stylesheet" href="/css/edita.css">
    <link href="https://fonts.googleapis.com/css2?family=Crete+Round&display=swap" rel="stylesheet">
    <script src="/js/editar.js"></script>
    <script src="https://code.jquery.com/jquery-1.11.1.js"></script>
    <script src="/js/notify.min.js"></script>
</head>
<body>
    <%- include('./modulos/inicio.ejs')  %>
    <% if(id){ %>
        <div class="container" id="<%= id %>">
    <% }else{ %>
        <div class="container" id="0">
    <% } %>
        
        <% if(id){ %>
        <h1 class="titulo">atualizar produto <%= id %> </h1>
        <% }else{ %>
        <h1 class="titulo">sem produto </h1>
        <% } %>

        <div class="editeBloco">
            <label class="textoFomadado" for="nome">nome: 
                <input class="textoFomadado" type="text" name="nome" id="nome" value="<%= name %>">
            </label>
            <label class="textoFomadado" for="tipo">tipo:  
                <input class="textoFomadado" type="text" name="tipo" id="tipo" value="<%= type %>">
            </label>
            <label class="textoFomadado" for="preço">preço: 
                <input class="textoFomadado" type="number" name="preço" id="preço" value="<%= price %>">
            </label>
        </div>
        <button class="btnSubmit" onclick="updateProduct()">atualizar</button>
    </div>
</body>