<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Produtos</title>
    <link rel="stylesheet" href="global.css">
    <link rel="stylesheet" href="css/produto.css">
    <script src="js/Produto.js"></script>
</head>
<body>
    <%- include('./modulos/inicio.ejs') %>
    <div class="mainHead">
        <button id="btnMain" onclick="AddNewProduto()">Adicionar Novo Produto</button>
        <% if(produtos){  %>
        <p id="NumClient" class="right">Produtos Cadastrados: <%= produtos.length %></p>
        <% }else{  %>
        <p id="NumClient" class="right">Produtos Cadastrados: 0</p>
        <% }       %>
        <div id="fomulario" class="Add oculto">
            <form  action="/produto" method="post">
                <label class="left" for="nome">Nome: </label>
                <input class="right" type="text" id="nome">
                <label class="left" for="tipo">Tipo: </label>
                <input class="right" type="text" id="tipo">
                <label class="left" for="price">Preco: </label>
                <input class="right" type="number" id="price">
                <input id="btnSubmit" type="button" value="Eviar" onclick="enviar()">
            </form>
        </div>
    </div>
    <div class="main">
        <% if(produtos){ %>
        <%   for(let i=0; i < produtos.length; i++){                       %>
            <div id="<%= produtos[i].id %>" class="blocoProduto TextCenter">
                <p id="cima">id: <%= produtos[i].id %></p>
                <hr>
                <p class="campo">nome: <%- produtos[i].nome %></p>
                <p class="campo">tipo: <%- produtos[i].tipo  %></p>
                <p class="campo">preço: R$<%- Number(produtos[i].price).toFixed(2) %></p>
                <button onclick="editProduto(event)">editar</button>
                <button onclick="deleteProduto(event)">excluir</button>
            </div>
        <% }   %>
        <% }else{  %>
            <p>produto é null</p>
        <% }       %>
    </div>
</body>
</html>